# This is for source code only

open up cmd and run this:

pip install pyautogui

pip install psutil

pip install Pillow


AFterwards run:
python afkfarm.py

You will need to make some way to call the run function in order to get this working without an gui

like run() at the end of the code

