# This is for source code only

install python 3.6 and make sure you check the box to install pip to envir variables

guide: https://matthewhorne.me/how-to-install-python-and-pip-on-windows-10/

once python is installed, open up cmd(or powershell) and run this:

pip install pyautogui

pip install psutil

pip install Pillow

pip install pyqt5



AFterwards run:
python botgui.py



